.close {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  display: flex;
  justify-self: end;
}

.container {
  height: 90%;
  align-content: center;
  width: 270px;
  margin: 0 auto 0;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.subTitle {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 30px;
}

.imageBox {
  display: grid;
  justify-content: center;
}

.text {
  font-size: 0.8rem;
  /* font-weight: bold; */
  margin-top: 10px;
  margin-bottom: 10px;
}
.input {
  width: 260px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding-left: 10px;
  font-size: 0.8rem;
}

.readOnly {
  background-color: #eee;
  color: #777;
}

.buttonBox {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.button {
  font-weight: bold;
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  width: 200px;
  height: 40px;
}
.confirm {
  background-color: var(--blue);
  border-radius: 5px;
  color: #fff;
}
.confirm:hover {
  background-color: var(--hover);
}
