.container {
  display: grid;
  grid-template-columns: 3fr 6fr;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.left {
  border-radius: 10px 0 0 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  border-radius: 0 10px 10px 0;
  background-color: #91adf5;
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 30px;
  gap: 20px;
}

.image {
  width: 65%;
  height: 65%;
}

.imageBox {
  width: 100%;
  height: 100%;
  align-content: center;
  margin: 0 auto 0;
  text-align: center;
}
.profileImage {
  border-radius: 50%;
  width: 220px;
  aspect-ratio: 1 / 1;
  object-fit: fill;
}

.subBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 220px;
  margin: 0 auto;
}

.profileImage {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.changeImage {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: inherit;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  pointer-events: auto; /* 이벤트 처리 가능 */
}

.changeImage:hover {
  background-color: var(--hover);
}

.cameraImage {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
}

.content {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  text-align: left;
  color: #fff;
  align-items: center;
}

.buttonBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  text-align: center;
  height: 100%;
}

.button {
  all: unset;
  padding: 15px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.modifyButton {
  color: white;
  background-color: var(--blue);
}

.changeButton {
  color: black;
  background-color: white;
}

.modifyButton:hover {
  background-color: var(--hover);
}
.changeButton:hover {
  background-color: var(--whitehover);
}

.title {
  display: flex;
  column-gap: 10px;
  align-items: baseline;
  font-weight: bold;
  color: #fff;
  flex-wrap: wrap;
}
.subTitle {
  font-size: 1.6rem;
}
.subTitle1 {
  font-size: 1.13rem;
}

.welfare {
  display: flex;
  column-gap: 10px;
  font-weight: bold;
  color: #fff157;
  justify-self: right;
  font-size: 1.13rem;
}
