.container {
  display: grid;
  grid-template-columns: 3fr 7fr;
  width: 83.3%;
  margin: 7.8% auto 0;
  height: 30%;
}
.left {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 80%;
  height: 80%;
}
.right {
  background-color: #91adf5;
}
