.container {
  height: 40px;
  margin: 0 auto;
  align-content: center;
  width: 100px;
  /* justify-content: center; */
}

.content {
  position: relative;
  font-size: 14px;
  left: 40px;
}

.content::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  left: -40px;
  transform: translateY(-25%);
  border-radius: 5px;
}

.content[data-color="grey"]::before {
  background-color: #d9d9d9;
}

.content[data-color="blue"]::before {
  background-color: var(--blue);
}

.content[data-color="pink"]::before {
  background-color: #ff4c81;
}

.content[data-color="darkGrey"]::before {
  background-color: var(--text-description);
}
