.container {
  flex: 1;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 6fr 4fr;
  gap: 30px;
}

.left,
.right {
  background-color: #fff;
  border-radius: 20px;
}

.buttonContainer {
  display: grid;
}
